@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.hidden {
  display: none;
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
.container {
  background-color: #2aa7ff;
}

nav {
  font-family: 'Raleway', sans-serif;
  padding: 2.75rem 1.5rem 1rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  text-transform: uppercase;
  color: #ff832a;
}

nav h1 .dark {
  color: #2aa8ff;
}

header,
main,
footer {
  padding: 2.5rem 1rem;
}
header {
  background: #2aa6ff;
  padding-block: 3rem;
  text-align: center;
}

.hero {
  margin: 0 auto;
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hero-content h1 {
  font-family: 'Poppins', sans-serif, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #ffffff;
}
.hero-content p {
  color: #5c6169;
}
.hero a {
  align-self: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  border-radius: 5.625rem;
}

main {
  background-color: #ffffff;
}

main h2 {
  text-align: center;
  color: #1b3c74;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
.grid-container {
  align-items: stretch;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.detail-card {
  width: 100%;
  max-width: 400px;
  box-shadow: 6px 6px 35px 0px rgba(16, 40, 81, 0.11);
  padding: 1.25rem;
  border: 1px solid #e2e2e2;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.detail-card > img {
  object-fit: cover;
  border-radius: 0.5rem;
  height: 250px;
  width: 100%;
}
.detail-card .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail-card .name,
.detail-card .type,
.detail-card .address,
.detail-card .phone,
.detail-card .email {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.detail-card .name {
  font-family: 'Lora';
  /* justify-content: center; */
  gap: 0.25rem;
}
.detail-card span {
  color: #5c6169;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
}
.name h3 {
  color: #1b3c74;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.25rem;
}

footer {
  padding: 7.5rem 1.5rem 5rem;
  background-color: #1b3c74;
  color: #ffffff;
}
footer a,
.copy span {
  font-size: 0.875rem;
  color: #e2e2e2;
  line-height: 1.75rem;
}
footer p {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
}

.useful-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}
.useful-links {
  margin-top: 3rem;
}

.nav,
.contribute {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.copy {
  font-size: 0.75rem;
  line-height: 1.75rem;
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .grid-container {
    place-items: center;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .detail-card {
    max-width: 550px;
  }
  footer {
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
  }
  .footer-logo {
    flex-basis: 20%;
  }
  .footer-logo img {
    width: 100%;
  }
  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .useful-links {
    justify-content: center;
    gap: 2rem;
  }
  .useful-links,
  .copy {
    margin-top: 0;
  }
}
